* {
  background-color: antiquewhite;
}

.main_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div_1 {
  background-color: black;
  padding: 80px;
}

.div_2 {
  padding: 80px;
  margin-left: 10px;
  background-color: white;
}

.div_3 {
  padding: 30px;
}
